* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px
}

body {
    overflow-x: hidden;
    min-height: 100dvh;
}

.newspaper {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
}

.name {
    font-size: 2rem;
    font-family: "Times New Roman", serif;
    margin-bottom: 0.5rem;
}

.date {
    margin-bottom: 1rem;
}

.name,
.date {
    text-align: center;
}

.author {
    font-weight: bold;
    margin-bottom: 1rem;
}

.name,
.author {
    text-transform: uppercase;
}

.headline {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.sub-headline {
    font-weight: 100;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.text {
    text-indent: 20px;
    line-height: 2em;
    margin-bottom: 0.5rem;
}

.text::first-letter {
    font-weight: bold;
    font-size: 2em;
}
