* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

#main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
}

#title {
    padding-top: 2rem;
}

#title + p {
    padding-bottom: 1rem;
}


#img-div {
    max-width: 55rem;
}

#image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
}

#img-caption {
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
}

#title {
    text-align: center;
}

#headline {
    margin: 2rem auto 1.5rem auto;
    width: fit-content;
}

.timeline {
    margin: 0 auto;
}

.timeline-item {
    position: relative;
}

.timeline-dot {
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.timeline-year {
    margin-left: 27px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.timeline-content {
    border-left: 3px solid;
    padding: 20px;
    margin: 3px 0;
    margin-left: 3px;
}

.timeline-item:last-child .timeline-content {
    border-left: none;
}

blockquote {
    margin: 2rem 0;
    text-align: center;
}

.tribute-footer {
    text-align: center;
    margin-bottom: 2rem;
}

#tribute-link {
    text-decoration: underline;
    color: rgb(71, 124, 167);
    transition: all 0.3s;
}

#tribute-link:hover {
    display: inline-block;
    cursor: pointer;
    transform: scale(1.02);
    color: #30587D
}

@media (min-width: 992px) {

    body {
        height: 100vh;
    }

    #main {
        display: grid;
        grid-template-columns: 2fr 1.4fr;
        column-gap: 3rem;
        align-items: start;
        border: 1px solid;
        width: 100%;
        max-width: none;
        min-height: 100vh;
        margin: 0;
        column-gap: 2rem;
        padding: 0 2rem;
    }

    #title,
    #title + p {
        grid-column: 1 / -1;
        text-align: center;
    }

    #img-div {
        margin: 4rem auto;
    }

    #image {
        margin: 0;
        margin-bottom: 1rem;
    }

    #headline {
        margin: 2rem auto;
    }

    #tribute-info {
        grid-column: 2;
        margin: 0;
        max-width: 40rem;
    }

    .timeline {
        overflow-y: scroll;
        height: 50vh;
    }

    blockquote {
        margin: 3rem auto 4rem auto;
    }

    .tribute-footer {
        margin-bottom: 2rem;
        grid-column: 1 / -1;
        text-align: center;
        margin: 1rem auto 2rem auto;
        max-width: 60rem;
    }
}