* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
}

#title {
    padding-top: 2rem;
    font-size: clamp(22px, 6vw, 32px);
}

#title + p {
    font-size: clamp(14px, 3.5vw, 18px);
}

#img-div {
    max-width: 55rem;
    margin: 1rem 0;
}

#image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#img-caption {
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
    font-size: clamp(12px, 3.5vw, 16px);
}

#headline {
    margin: 1.5rem auto 1rem auto;
    width: fit-content;
    font-size: clamp(16px, 4.5vw, 20px);
}

.timeline {
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 0;
}

.timeline-item {
    position: relative;
}

.timeline-dot {
    position: absolute;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.timeline-year {
    margin-left: 27px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: clamp(12px, 2.5vw, 14px);
    font-weight: bold;
}

.timeline-content {
    border-left: 3px solid;
    padding: 20px;
    margin-left: 3px;
    font-size: clamp(12px, 3.5vw, 16px);
}

.timeline-item:last-child .timeline-content {
    border-left: none;
}

blockquote {
    margin: 2rem 0;
    text-align: center;
    font-size: clamp(14px, 4vw, 16px);
}

.tribute-footer {
    text-align: center;
    margin-bottom: 2rem;
    font-size: clamp(16px, 4vw, 18px);
}

#tribute-link {
    text-decoration: underline;
    color: rgb(71, 124, 167);
    transition: all 0.3s;
}

#tribute-link:hover {
    display: inline-block;
    cursor: pointer;
    color: #30587D
}

@media (min-width: 992px) {

    #main {
        display: grid;
        grid-template-columns: 2fr 1.4fr;
        grid-template-rows: auto auto auto 1fr auto;
        column-gap: 3rem;
        align-items: start;
        width: 100%;
        max-width: none;
        min-height: 100dvh;
        margin: 0;
        column-gap: 2rem;
        padding: 0 2rem;
    }

    #title,
    #title + p {
        grid-column: 1 / -1;
        text-align: center;
    }

    #img-div {
        margin: 3rem auto 0 auto;
    }


    #headline {
        margin: 3rem auto 1rem auto;
    }

    #tribute-info {
        grid-column: 2;
        margin: 0;
        max-width: 40rem;
    }

    .timeline {
        overflow-y: scroll;
        height: clamp(430px, 43vh, 600px);
    }

    .timeline-item:last-child .timeline-content {
        padding-bottom: 0;
    }

    blockquote {
        margin: 0;
        margin-top: 4rem;
    }

    .tribute-footer {
        grid-column: 1 / -1;
        text-align: center;
        align-self: end;
        margin: 1.5rem auto;
        max-width: 60rem;
    }
}