* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-Large: 26px;
    --primary-color: #2c5d63;
    --secondary-color: #283739;
    --accent-color: #a2c11c;
    --bg-color: #e0e0e0;
    --text-color: #222831;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-height: 100dvh;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

header {
    background-color: var(--primary-color);
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

header h1 {
    font-size: var(--font-size-Large);
    color: var(--accent-color);
    margin-bottom: 10px;
}

header p {
    font-size: var(--font-size-medium);
    width: 90%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    color: var(--secondary-color);
    font-size: var(--font-size-medium);
    font-weight: bold;
}

fieldset{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

fieldset legend {
    font-size: var(--font-size-medium);
    margin-left: 5px;
}

input,
select,
.radio-group,
#message {
    margin: 5px 0 15px 0;
    padding: 5px;
    font-size: var(--font-size-small);
    border-radius: 5px;
    outline: none;
}

input:not([type=radio]),
#message {
    padding-left: 10px;
}


input:first-of-type {
    border-color: inherit;
}

input[type=radio] {
    margin: 0 10px 0 5px;
    appearance: none;
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.radio-group label{
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 6px;
    font-size: 14px;
}

.radio-group input[type=radio]:checked {
    background-color: var(--accent-color);
    border: 1px solid;
    border-color: var(--secondary-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.radio-group label:has(input[type=radio]:checked) {
    color: var(--primary-color);
    font-weight: 600;
}

#message {
    margin-top: 10px;
}

.note-error {
    display: none;
}

input:invalid,
select:invalid,
textarea:invalid {
    border: 1px solid;
    border-color:red;
    outline: none;
}

input:not(:placeholder-shown):invalid + .note-error,
textarea:not(:placeholder-shown):invalid + .note-error {
    display: block;
    font-size: 10px;
    color: crimson;
    margin-top: -5px;
    margin-bottom: 10px;
}

input:valid,
select:valid,
textarea:valid {
    border: 1px solid;
    border-color: green;
    outline: none;
}

input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid {
    border-color: red;
}

input:placeholder-shown,
textarea:placeholder-shown {
    border-color: initial !important;
}


input:focus,
textarea:focus {
    border: 1px solid;
    border-color: var(--accent-color) !important;
    outline: none;  
}

select:invalid {
    border-color: #ccc;
}

select:focus:invalid {
    border-color: red;
}

select:valid {
    border-color: green;
}

.radio-group input[type="radio"] {
    border-color: var(--secondary-color);
}

.radio-group label:has(input[type="radio"]:focus:invalid) input[type="radio"] {
    color: red;
}

.radio-group:has(input[type="radio"]:focus:invalid) label {
    color: red;
}

button {  
    display: block;
    width: 60%;
    margin: 4px auto 0 auto;
    padding: 10px 0;
    color: #f4f4f4;
    background-color: var(--primary-color);
    transition: transform 0.3s, background 0.3s ease-out;
    border: none;
    border-radius: 10px;
    font-size: var(--font-size-medium);
    font-weight: 500;
}

button:active {
    background-color: var(--secondary-color);
    color: white;
}

button:hover {
    transform: scale(1.05);
    background-color: var(--accent-color);
    color: white;
}

@media (min-width: 768px) {

    :root {
        --font-size-small: 14px;
        --font-size-medium: 18px;
        --font-size-Large: 32px;
    }

    .container {
        width: 100%;
        max-width: 700px;
        margin: auto;
    }

    header {
        padding: 2rem;
    }

    input, select, .radio-group, #message {
    margin: 7px 0 10px 0;
    padding: 10px;
    font-size: var(--font-size-small);
    }

    button {
        width: 30%;
        margin: 20px auto 10px auto;
    }
}
