* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blog-post-card {
    display: flex;
    width: 35%;
    height: auto;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.blog-post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #333;
    border-radius: 20px 20px 0 0;
}

.post-content {
    padding: 20px;
}

.post-title {
    margin: 5px;
    color: #333;
}

.post-excerpt {
    color: #555;
    margin: 20px 30px;
}

.read-more {
    display: inline-block;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
}

.read-more:hover {
    background-color: #444;
    cursor: pointer;
}
